# {{ ansible_managed }}
{% set authby = item.0.conn.authby if item.0.conn.authby is defined else strongswan_conn_default.authby %}

# conn {{ item.0.name }} ({{ item.0.left.address }} <-> {{ item.0.right.address }})
{% if authby == 'psk' or authby == 'secret' %}
{{ item.0.left.id }} {{ item.0.right.id }} : PSK {{ item.0.secret }}
{% elif authby == 'rsasig' or authby == 'ecdsasig' %}
{{ item.0.left.id }} {{ item.0.right.id }} : {{ item.0.secret }}
{% endif %}
