# {{ ansible_managed }}

# conn {{ item.0.name }} ({{ item.0.left.address }} <-> {{ item.0.right.address }})
{% if item.0.conn.authby == 'psk' or item.0.conn.authby == 'secret' %}
{{ item.0.left.address }} {{ item.0.right.address }} : PSK {{ item.0.secret }}
{% elif item.0.conn.authby == 'rsasig' or item.0.conn.authby == 'ecdsasig' %}
{{ item.0.left.address }} {{ item.0.right.address }} : {{ item.0.secret }}
{% endif %}
