# {{ ansible_managed }}

# conn {{ item.0.name }} ({{ item.0.left.address }} <-> {{ item.0.right.address }})
conn {{ item.0.name }}
  # Connection Settings
{% for option in [
       'auto', 'also', 'closeaction', 'type', 'authby', 'ike', 'aggressive',
       'fragmentation', 'ah', 'esp', 'compress', 'ikelifetime',
       'ikelife', 'keyexhange', 'keytime', 'lifetime', 'margintime',
       'rekeymargin', 'rekeyfuzz', 'keyingtries', 'dpdaction', 'dpddelay' ] %}
{%   if item.0.conn[option] is defined %}
  {{ option }}={{ item.0.conn[option] }}
{%   endif %}
{% endfor %}
  # Local Settings
  left={{ item.0.left.address }}
{% for option in [
       'ikeport', 'protoport', 'subnet', 'sourceip', 'allowany', 'id',
       'auth', 'ca', 'cert', 'sendcert', 'dns', 'firewall', 'updown' ] %}
{%   if item.0.left[option] is defined %}
  left{{ option }}={{ item.0.left[option] }}
{%   endif %}
{% endfor %}
  # Remote Settings
  right={{ item.0.right.address }}
{% for option in [
       'ikeport', 'protoport', 'subnet', 'sourceip', 'allowany', 'id',
       'auth', 'ca', 'cert', 'sendcert', 'dns', 'firewall', 'updown' ] %}
{%   if item.0.right[option] is defined %}
  right{{ option }}={{ item.0.right[option] }}
{%   endif %}
{% endfor %}
